 <h1>Hi <%= (@subscriber.first_name).capitalize %>!</h1>
    <p> Attached is your free For Sale By Owner Home Seller's Guide.  We hope you find it beneficial in helping you sell your home successfully. <br>

    Good Luck Selling! <br>

 Breeze Street Inc. / www.breezestreet.com <br>
 Green Cloud Realty Inc. / www.greencloudrealty.com
 </p>
