/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */


@import "bootstrap-sprockets";
@import "bootstrap";

 /****** Main Page ******/

	body {
	  position: relative;
	  min-height: 100%;
	}

	html {
		height: 100%;
		margin: 0;
		padding: 0;	
	}

 	* {
 		box-sizing: border-box;
 		font-family: 'Roboto Condensed', sans-serif;
 		margin: 0;
 	}
  
   .land-script-1 h1, .land-script-2 h1, .land-script-3 h1 {
   	display: none;
   	height: 70px;
   	margin-bottom: 20px;
   }

   section {
  	height: 710px;
  }

  .mainland {
  	color: #000066;
  	text-align: center;
  	margin-top: 250px;
  }

  .land-pic{
  	margin-top: 75px;
  }

  .lm-button{
  	margin-top: 30px;
  }

  .alert{
  	margin-top: -20px;
  	background: #FFCA33;
  }

/****** Second ******/ 

  #second{
  	background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ),url("sold_sign.jpg");
  	background-size: cover;
  	background-repeat: no-repeat;
  	color: white; 
  	margin: 0 -15px 0;
  	padding-top: 40px;
  }

 .second-area{
 	text-align: center;
 }

	#second ul {
		list-style: none;
		display: inline-block;
		text-align: left;
		margin-top: 30px;
	}

	.second-area .list{
		margin: 30px 0;
	}

	.row {
		margin: 0;
	}

	.checked {
		margin-right: 30px;
	}


/***** Third *****/

	#third {
		text-align: center;
		padding-top: 40px;
	}

	#third ul {
		text-align: left;
		display: inline-block;
		font-size: 20px;
	}

	#third h1{
		margin-bottom: 40px;
	}

	.modal {
	    display: none; 
	    position: fixed; 
	    z-index: 1;
	    left: 0;
	    top: 0;
	    width: 100%; 
	    height: 100%; 
	    overflow: auto; 
	    background-color: rgb(0,0,0); 
	    background-color: rgba(0,0,0,0.4); 
	}


	.modal-content {
	    background-color: #fefefe;
	    margin: 15% auto; 
	    padding: 20px;
	    border: 1px solid #888;
	    width: 60%; 
	}


	.close {
	    color: #aaa;
	    float: right;
	    font-size: 28px;
	    font-weight: bold;
	}

	.close:hover,
	.close:focus {
	    color: black;
	    text-decoration: none;
	    cursor: pointer;
	}

	.payment-details{
		margin: 120px auto 0
	}

	.subscribe-info{
		margin: auto;
	}

	.subscribe-label{
		display: inline-block;
	    float: left;
	    clear: left;
	    width: 75px;
	    text-align: right;
	    margin-bottom: 10px;
	    margin-left: 180px;
	}

	.subscribe-input{
		display: inline-block;
  		float: left;
  		margin-left: 10px;
  		margin-bottom: 10px;
  		width: 200px;
	}

	.fsbo-send {
		display: block;
		clear: both;
		margin: auto;
		margin-top: 80px;
	}

	/***** Fourth *****/
	#fourth{
		background-image: linear-gradient(
      rgba(0, 0, 0, 0.75),
      rgba(0, 0, 0, 0.75)
    ), url("real-estate.jpg");
		color: white;
		text-align: center;
		padding-top: 40px;
		margin: 0 -15px;
	}

	.brz{
		padding-top: 10px;
		
	}

	.breeze-logo{
		height: 87px;
		padding-bottom: 20px;
	}

	.gcr{
		padding-top: 10px;

	}

	.about-us h3 {
		margin: auto;
		padding: 0 10px;
	}

	.about-us{
		margin-top: 50px;
	}

	.gcr-logo{
		padding-bottom: 20px;
	}

	.breeze-logo{
		height: 110px;
	}


  /***** Navbar ******/

  .navbar-default{
  	background: white;
  	
  }

  .nav li{
  	color: blue;
  }

 .navbar-default {
  background-color: #000066;
  border-color: #ffffff;
	}
	.navbar-default .navbar-brand {
	  color: #ffffff;
	}
	.navbar-default .navbar-brand:hover,
	.navbar-default .navbar-brand:focus {
	  color: #020202;
	}
	.navbar-default .navbar-text {
	  color: #ffffff;
	}
	.navbar-default .navbar-nav > li > a {
	  color: #ffffff;
	}
	.navbar-default .navbar-nav > li > a:hover,
	.navbar-default .navbar-nav > li > a:focus {
	  color: #020202;
	}
	.navbar-default .navbar-nav > li > .dropdown-menu {
	  background-color: #e86767;
	}
	.navbar-default .navbar-nav > li > .dropdown-menu > li > a {
	  color: #ffffff;
	}
	.navbar-default .navbar-nav > li > .dropdown-menu > li > a:hover,
	.navbar-default .navbar-nav > li > .dropdown-menu > li > a:focus {
	  color: #020202;
	  background-color: #ffffff;
	}
	.navbar-default .navbar-nav > li > .dropdown-menu > li > .divider {
	  background-color: #ffffff;
	}
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	.navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	  color: #020202;
	  background-color: #ffffff;
	}
	.navbar-default .navbar-nav > .active > a,
	.navbar-default .navbar-nav > .active > a:hover,
	.navbar-default .navbar-nav > .active > a:focus {
	  color: #020202;
	  background-color: #ffffff;
	}
	.navbar-default .navbar-nav > .open > a,
	.navbar-default .navbar-nav > .open > a:hover,
	.navbar-default .navbar-nav > .open > a:focus {
	  color: #020202;
	  background-color: #ffffff;
	}
	.navbar-default .navbar-toggle {
	  border-color: #ffffff;
	}
	.navbar-default .navbar-toggle:hover,
	.navbar-default .navbar-toggle:focus {
	  background-color: #ffffff;
	}
	.navbar-default .navbar-toggle .icon-bar {
	  background-color: #ffffff;
	}
	.navbar-default .navbar-collapse,
	.navbar-default .navbar-form {
	  border-color: #ffffff;
	}
	.navbar-default .navbar-link {
	  color: #ffffff;
	}
	.navbar-default .navbar-link:hover {
	  color: #020202;
	}

	@media (max-width: 767px) {
	  .navbar-default .navbar-nav .open .dropdown-menu > li > a {
	    color: #ffffff;
	  }
	  .navbar-default .navbar-nav .open .dropdown-menu > li > a:hover,
	  .navbar-default .navbar-nav .open .dropdown-menu > li > a:focus {
	    color: #020202;
	  }
	  .navbar-default .navbar-nav .open .dropdown-menu > .active > a,
	  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:hover,
	  .navbar-default .navbar-nav .open .dropdown-menu > .active > a:focus {
	    color: #020202;
	    background-color: #ffffff;
	  }
	}

	/*** Footer ***/

	a.back-to-top {
	display: none;
	width: 60px;
	height: 60px;
	text-indent: -9999px;
	position: fixed;
	z-index: 999;
	right: 20px;
	bottom: 20px;
	background: #27AE61 url("up-arrow.png") no-repeat center 43%;
	-webkit-border-radius: 30px;
	-moz-border-radius: 30px;
	border-radius: 30px;
	}
	
	.footer {
		background-color: black;
		opacity: 0.7;
		color: white;
		padding-left: 20px;
	}

	.footer p {
		margin: 0;
	}

	.btn-2 {
		margin-top: 70px;
	}

	/*** Media Queries ***/
	@media (max-width: 767px){
  	.book-image{
  		width: 280px;
  	}
  	.mainland{
  		margin-top: 10px;
  	}
  	.land-pic{
  		margin-top: 10px;
  	}
  	.lm-button{
  		margin-top: 75px;
  	}
  	.checked{
  		float: left;
  		height: 55px;
  		margin-right: 20px
  	}
  	.payment-details{
  		margin-top:10px;
  	}
  	#first {
  		height: 600px;
  	}
  	#second{
  		height: 915px;
  		padding-top: 10px;
  	}
  	#third{
  		padding-top: 10px;
  	}
  	#third h1{
  		margin-bottom: 0;
  	}
  	#fourth{
  		padding-top: 10px;
  		height: 780px;
  	}
  	.btn-1{
  		margin-top: 20px;
  	}
  	.about-us h3{
  		font-size: 20px;
  	}
  	.btn-2{
  		margin-top: 20px;
  	}
  	.subscribe-label{
  		margin-left: 0px;
  		text-align: left;
  	}
  	.subscribe-input{
  		margin-left: 0px;
  	}
  }

  @media(max-width: 325px){
  	.navbar-brand{
  		font-size: 16px;
  	}
  	#first{
  		height: 640px;
  	}
  	#second{
  		height: 650px;
  	}
  	#second h3{
  		font-size: 16px;
  	}
  	#second ul{
  		margin-top: 0px;
  	}
  	.checked{
  		height: 45px;
  	}
  	#third{
  		height: 740px;
  	}
  	#fourth{
  		height: 660px;
  	}
  	.lm-button{
  		margin-top: 120px;
  	}
  	.about-us h3{
  		font-size: 16px;
  	}

  }